<div class="thrd-am-cate">
    <div class="fill-sn">
        <span class="avatar-circle avatar-circle-small">
            <img src="<%= userAvatar %>">
        </span>
        <em class="mlm fsl xcm">
            <%= userName %>
        </em>
        <%= action %>
        <div class="pull-right fsl lht">
            <span data-node="finishCount"><%= finishCount %></span>/<span data-node="totalCount"><%= totalCount %></span>
        </div>
    </div>
    <div class="thrd-table-wrap bdbs">
        <table class="table am-op-table mbz">
            <tbody></tbody>
        </table>
    </div>
</div>